@font-face {
    font-family: 'Manrope';
    font-weight: 100;
    src: url(fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 200;
    src: url(fonts/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: url(fonts/Manrope-Light.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url(fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url(fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: url(fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url(fonts/Manrope-ExtraBold.ttf);
}

body {
    background-color: #f2f0ef;
    font-family: 'Manrope', sans-serif;
    margin: 0em;
}

h1, h2, p {
    margin: 0em;
    padding: 0.5em;
}

section > img {
    margin: 0.5em;
}

.main-content > h3 {
    margin: 0.5em;
}

header {
    background-color: #215ef9;
    font-size: 1.1em;
}

header > img {
    width: 100%;
}

nav ul {
    padding-left: 0em;
    list-style-type: none;
    margin: 0em;
    /* padding: 0.5em 0em; */
    border-left: 0.5em solid #94acfc;
    border-right: 0.5em solid #94acfc;
    background-color: #94acfc;
    display: flex;
    flex-direction: column;
}

nav li > a {
    color: white;
    text-decoration: none;
}

nav li {
    text-align: center;
    color: white;
    padding: 0.5em;
}

nav li:not(nav ul > li:nth-child(2)):hover {
    /* background-color: #50666f; */
    border-bottom: 0.5em solid #50666f;
    transition: 0.5s;
}

nav li:active {
    background-color: #50666f;
    border-top: 0.5em solid #50666f;
    border-bottom: 0.5em solid #50666f;
    transition: 0.15s;
}

/* dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 1em;
    display: none;
    position: relative;
    background-color: #94acfc;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    border-left: 0.5em solid #94acfc;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-left: 0.5em solid #50666f;
    transition: 0.5s;
}

.dropdown-content a:active {
    color: white;
    background-color: #50666f;
    transition: 0.15s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    color: white;
    text-align: center;
    padding-bottom: 18px;
    text-decoration: none;
}

section > * {
    margin-left: 0.5em;
}

.main-content > h2 {
    color: #6277b6;
}

#world-connection {
    background-color: #d5ebf2;
    /* text-align: center; */
}

.main-content > img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: 100%;
    
}

#most-famous-subject-areas {
    background-color: #67b4da;
}

#most-famous-subject-areas > p {
    width: 65%;
}

/*allagi*/
#mfsa-content {
    margin: auto;
}

/*allagi*/
#mfsa-images {
    /* grid-column: 3/4; */
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

/* #mfsa-images > img {
    display: block;
    margin: 0.5em;
} */

/*allagi*/
#mfsa-images > img:nth-child(1) {
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 3;
}

/*allagi*/
#mfsa-images > img:nth-child(2) {
    width: 100%;
    height: 100%;
    grid-row: 2/4;
    grid-column: 2/4;
    z-index: 2;
}

/*allagi*/
#mfsa-images > img:nth-child(3) {
    width: 100%;
    height: 100%;
    grid-row: 3/5;
    grid-column: 3/5;
}

#most-famous-subject-areas a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.25s;
}

#most-famous-subject-areas a:hover {
    color: red;
    text-decoration: none;
    border-bottom: 0.2em solid red;
}

#most-famous-subject-areas a:active {
    color: black;
    background-color: red;
    border-bottom: 0.2em solid red;
}

#most-famous-subject-areas a:visited {
    color: black;
}

section:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

#your-level {
    background-color: #ffdf52;
}

#your-level > h3:first-letter {
    font-size: 1.5em;
    color: red;
}

/* #your-level > img {
    max-width: 340px;
    height: auto;
    
} */

#our-vision {
    background-color: #ebdbc4;
}
/* 
#our-vision > img {
    
} */

#announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcement > h3 {
    margin-bottom: 0.5em;
}

.announcement > h3 + p {
    margin: 0em;
    border-left: 0.2em solid #215ef9;
    font-weight: 500;
}

footer {
    background-color: #dadbde;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.social-media-footer ul {
    width: 100%;
    height: 100%;
    padding: 0em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 0.5em;
}

footer > img {
    width: 100%;
}

footer address ul {
    padding: 0em;
}

footer > img, footer address ,footer .social-media-footer, footer p {
    margin: auto;
}

.social-media-footer img {
    border: 2px solid black;
    border-radius: 9.5px;
}

.social-media-footer li:nth-child(1) img:hover {
    background-color: #1d9bf0;
}

.social-media-footer li:nth-child(2) img:hover {
    background-color: #385898;
}

.social-media-footer li:nth-child(3) img:hover {
    background-color: #ff0000;
}

.social-media-footer li:nth-child(4) img:hover {
    background: radial-gradient(at top right,#456eca,#a534ad,#b1338b,#e15947,#f4b753);
}

footer  address a {
    color: black;
    text-decoration: none;
}

footer address li {
    display: block;
}

footer div li {
    display: inline;
}

footer > p {
    clear: both;
}

/* subjects (3 files) */

main > h1 {
    color: #6277b6;
}

.main-subject > .subject:nth-child(2n) {
    background-color: #cbdaeb;
}

.subject h1 {
    background-color: #f2f0ef;
    margin-left: 0.3em;
    border-left: 0.5em solid #215ef9;
    font-size: 1.8em;
    position: sticky;
    top: 0;
}

/* allagi ex3 */
.subject .description {
    /* display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 1fr; */
    display: flex;
    flex-direction: column;
}

.subject .description img {
    margin: 0em;
    width: 100%;
    /* grid-column: 1/9;
    grid-row: 1/2; */
}

.subject .description p {
    font-size: 1.3em;
    /* grid-column: 1/9;
    grid-row: 2/3; */
}

.subject section h2 {
    text-align: center;
}

.subject section table {
    margin: auto;
}

.subject .content p {
    text-align: center;
}

.subject .content table {
    width: 100%;
}

.subject:nth-child(2n) h1 {
    background-color: #cbdaeb;
}

.subject:nth-child(2n + 1) section > h2 {
    margin: 0em;
    background-color: #cfc4be;
}

.subject:nth-child(2n) section > h2 {
    margin: 0em;
    background-color: #63a2e0;
}

.subject img {
    float: left;
}

.subject table th {
    padding: 1.5em;
}

.subject table td {
    padding: 1em;
}

.subject .content table {
    border-spacing: 0;
    text-align: center;
}

.subject .content table th {
    background-color: #8c9ca4;
    color: white;
    font-weight: bold;
}

.subject:nth-child(2n + 1) .content table th {
    background-color: #f1b99b;
}

.subject:nth-child(2n) .content table th {
    background-color: #89bdf1;
}

.subject .content table td {
    background-color: #d9dadb;
}

.subject .content table tbody > tr:first-child > td {
    background-color: #b4b4bc;
    font-weight: 600;
}

.subject .links a {
    color: black;
}

/* allagi ex3 */
.subject .links ol {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.subject:nth-child(2n + 1) .links ol li {
    padding: 0.5em;
    background: linear-gradient(to right, #f1b99b, #f2f0ef);
}

.subject:nth-child(2n) .links ol li {
    padding: 0.5em;
    background: linear-gradient(to right, #89bdf1, #cbdaeb);
}

.subject .links ol li:nth-child(1){
    grid-row: 1/2;
    grid-column: 1/3;
}

.subject .links ol li:nth-child(2){
    grid-row: 2/3;
    grid-column: 4/6;
}

.subject .links a:hover {
    color: white;
    background-color: #858da8;
    text-decoration: none;
}

.subject .total-cost table {
    width: 100%;
}

.subject .total-cost thead > tr > th:nth-child(2) {
    background-color: #b9161f;
    color: white;
}

.subject .total-cost thead > tr > th:nth-child(3) {
    background-color: #fbdb54;
}

.subject .total-cost tbody > tr > td:first-child {
    font-weight: bold;
}

.subject .total-cost tbody > tr > td + td {
    text-align: center;
}

.subject .total-cost s {
    padding: 0.5em;
    font-size: 1.5em;
    color: red;
}

.subject .choose-price h3 {
    padding-bottom: 1em;
}

.subject .choose-price input[type="radio"]{
    display: none;
}

.subject .choose-price label {
    border: 2px solid #858da8;
    color: #858da8;
    font-weight: 700;
    padding: 1em;
    border-radius: 4px;
    transition-duration: 0.5s;
}

.subject .choose-price label:hover {
    border: 2px solid black;
    color: black;
    
}

.subject .choose-price input[type="radio"]:focus + label {
    background-color: #7c7c99;
}

.subject .choose-price input[type="radio"]:checked + label {
    border: 2px solid #215ef9;
    background-color: #215ef9;
    color: white;
}

.subject .start-day {
    width: 200px;
    background-color: #dadbde;
    border: 3px solid #bac0ca;
    border-radius: 5px;
    margin: 0.5em;
    /* float: left; */
    text-align: center;
}

.subject .start-day h2 {
    padding: 0.2em;
}

.subject .start-day button {
    width: 80%;
    background-color: #b9161f;
    padding: 0.8em;
    margin: 1em;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    border: 2px solid #dadbde;
    border-radius: 6px;
    transition-duration: 0.5s;
}

.subject .start-day button:hover {
    background-color: #6e070c;
}

.subject .start-day button:active {
    border: 2px solid black;
    transition: 0s;
}

/*  */
.subject .enrollment > p {
    text-align: center;
}

.subject .enrollment > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject .enrollment .subject-choices section {
    text-align: center;
}

.subject .enrollment .subject-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subject .enrollment .available-dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* contact_form.html */

form {
    padding: 0.5em;
}

form label, form input[type="text"], form input[type="email"],
form select, form textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

form textarea {
    height: 200px;
}

form label {
    padding-left: 0em;
}

form input[type="submit"], form input[type="reset"] {
    padding: 0.8em;
    margin-top: 0.5em;
    width: 100%;
    border: 2px solid;
    border-radius: 4px;
    background-color: #215ef9;
    font-family: 'Manrope', sans-serif;
    color: white;
    transition-duration: 0.5s;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #04246c;
}

form input[type="submit"]:active, form input[type="reset"]:active {
    background-color: #8494b8;
    border: 2px solid black;
    color: black;
    transition-duration: 0s;
}

/* allagi ex3 */
form {
    margin: auto;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

form div h2 {
    text-align: center;
}

form .customer-inf-area {
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #7996fc;
}

form .customer-subject-area {
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #b5cbf7;
}

form .buttons-area {
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    background-color: #bdd6ee;
}
/* 
form .customer-inf-content {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "firstname gap lastname"
                         "email email email"
                         "country country country";
}

.customer-inf-content .firstname-box {
    grid-area: firstname;
}

.customer-inf-content .lastname-box {
    grid-area: lastname;
}

.customer-inf-content .email-box {
    grid-area: email;
} */

/* .customer-inf-content .country-box {
    grid-area: country;
} */

/* subject_areas.html */

#education, #health, #law {
    background: rgba(44, 132, 219, 0.2)
} 

.field h2 {
    border-left: 0.3em solid #3365d1;
    font-size: 1.8em;
    margin-bottom: 0.3em;
}

.field > ul > li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.field > ul > li a:hover {
    color: white;
    background-color: #858da8;
    text-decoration: none;
}

.field > ul > li a:active {
    background-color: #858da8;
    border-bottom: 0.5em solid #858da8;
    transition: 0.15s;
}

.field > ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: left;
}

.field > ul > li {
    font-size: large;
    font-weight: bold;
    display: inline;
    margin: 40px;
}

#education ul > li { /*etsi wste na xorane se mia grammi*/
    font-size: large;
    font-weight: bold;
    display: inline;
    margin: 30px;
}

.field{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#education ul li a, #health ul li a, #law ul li a, #education ul li, #health ul li, #law ul li {
    color: rgb(19, 16, 233);
}

#energy ul li a, #history ul li a, #IT ul li a, #energy ul li, #history ul li, #IT ul li {
    color: rgb(226, 134, 81);
}

#education p, #health p, #law p {
    margin: 2em 10em 2em 1em;
    background: rgba(44, 132, 219, 0.3);
    border-style: solid;
    border-width: 4px 4px;
    border-color: white;
    border-radius: 25px;
}

#energy p, #history p, #IT p {
    margin: 2em 10em 2em 1em;
    background: rgba(126, 93, 76, 0.3);
    border-style: solid;
    border-width: 4px 4px;
    border-color: white;
    border-radius: 25px;
}

.about_us {
    background: rgba(44, 132, 219, 0.3);
}

.about_us h2 {
    color: white;
    font-size: 1.6em;
    background: rgba(44, 132, 219, 0.6);
    margin: 0em;
}

#start_about img{
    float: right;
    margin-right: 10em;
}

#start_about p{
    margin-top: 3.5em;
    font-weight: bold;
    font-size: large;
}

#end_about {
    margin-bottom: 5em;
}

#end_about p{
    position:relative;
    top: 4em;
    max-width: 80em;
}    

#end_about img{
    margin: 2em;
}

#end_about article img{
    border-radius: 80%;
    float: left;
}

#end_about h3{
    font-weight: bold;
    font-size: large;
    position: relative;
    left: 1.5em;
}

#first {
    margin-top: 5em;
}

#first p {
    margin-bottom: 6em;
}

#second {
    margin-top: 3em;
}

#second p{
    margin-bottom: 8em;
}

#second h3 {
    clear: left;
}

/* TABLETS */
@media only screen and (min-width: 600px) {
    header > img {
        width: 483px;
        height: 92px;
    }

    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header nav ul li {
        width: 100%;
        flex-basis: 40%;
    }

    header nav ul li:nth-child(2), header nav ul li:nth-child(4) {
        margin-left: auto;
    }

    #mfsa-content {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*allagi*/
    #mfsa-text {
        grid-column: 1/3;
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.5fr; */
    }

    /* #mfsa-text-education {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #mfsa-text-health {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #mfsa-text-developer {
        grid-column: 1/3;
        grid-row: 2/3;
    } */

    #mfsa-images {
        grid-column: 3/4;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    #mfsa-images > img:nth-child(1) {
        width: 100%;
        height: 100%;
        grid-row: 1/2;
        grid-column: 1/5;
        z-index: 3;
    }
    
    /*allagi*/
    #mfsa-images > img:nth-child(2) {
        width: 100%;
        height: 100%;
        grid-row: 2/3;
        grid-column: 1/5;
        z-index: 2;
    }
    
    /*allagi*/
    #mfsa-images > img:nth-child(3) {
        width: 100%;
        height: 100%;
        grid-row: 3/4;
        grid-column: 1/5;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer > img {
        width: 428px;
        height: 106px;
    }
}

/* DESKTOP */
@media only screen and (min-width: 768px) {
    /*allagi*/
    #mfsa-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    /*allagi*/
    #mfsa-text {
        grid-column: 1/3;
    }

    /*allagi*/
    #mfsa-images {
        grid-column: 3/4;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }

    #mfsa-images > img {
        display: block;
        margin: 0.5em;
    }

    /*allagi*/
    #mfsa-images > img:nth-child(1) {
        width: 250px;
        height: 200px;
        grid-row: 1/3;
        grid-column: 1/3;
        z-index: 3;
    }

    /*allagi*/
    #mfsa-images > img:nth-child(2) {
        grid-row: 2/4;
        grid-column: 2/5;
        z-index: 2;
    }

    /*allagi*/
    #mfsa-images > img:nth-child(3) {
        width: 300px;
        height: 200px;
        grid-row: 3/5;
        grid-column: 1/3;
    }
}