@font-face {
    font-family: 'Manrope';
    font-weight: 100;
    src: url(fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 200;
    src: url(fonts/Manrope-ExtraLight.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: url(fonts/Manrope-Light.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url(fonts/Manrope-Medium.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: url(fonts/Manrope-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: url(fonts/Manrope-Bold.ttf);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url(fonts/Manrope-ExtraBold.ttf);
}

body {
    background-color: #f2f0ef;
    font-family: 'Manrope', sans-serif;
    margin: 0em;
    display: grid;
    grid-template-columns: 1.9fr 0.1fr;
    grid-template-areas: "header header"
                         "main aside"
                         "footer footer";
}

h1, h2, p {
    margin: 0em;
    padding: 0.5em;
}

section > img {
    margin: 0.5em;
}

.main-content > h3 {
    margin: 0.5em;
}

header {
    background-color: #215ef9;
    font-size: 1.1em;
    grid-area: header;
}

main {
    grid-area: main;
}
/* header */

/*allagi*/
nav ul {
    list-style-type: none;
    margin: 0em;
    padding-left: 0em;
    background-color: #94acfc;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav li > a {
    color: white;
    text-decoration: none;
}

/*allagi*/
nav li {
    color: white;
    padding: 0.5em 1em;
    flex-basis: 25%;
}

nav li:not(nav ul > li:nth-child(2)):hover {
    /* background-color: #50666f; */
    border-bottom: 0.5em solid #50666f;
    transition: 0.5s;
}

nav li:nth-child(2):hover {
    border-bottom: 0.5em solid #94acfc;
    transition: 0.5s;
}

nav li:active {
    background-color: #50666f;
    border-top: 0.5em solid #50666f;
    border-bottom: 0.5em solid #50666f;
    transition: 0.15s;
}

/* dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    margin-top: 0.5em;
    display: none;
    position: absolute;
    background-color: #94acfc;
    width: 100%;
    text-align: left;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    border-left: 0.5em solid #94acfc;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-left: 0.5em solid #50666f;
    transition: 0.5s;
}

.dropdown-content a:active {
    color: white;
    background-color: #50666f;
    transition: 0.15s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    color: white;
    text-align: center;
    padding-bottom: 18px;
    text-decoration: none;
}

/* index.html | main */

section > * {
    margin-left: 0.5em;
}

.main-content > h2 {
    color: #6277b6;
}

#world-connection {
    background-color: #d5ebf2;
}

#world-connection > img {
    float: left;
}

#most-famous-subject-areas {
    background-color: #67b4da;
}

/*allagi*/
#mfsa-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*allagi*/
#mfsa-text {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#mfsa-text-education {
    grid-column: 1/2;
}

#mfsa-text-health {
    grid-column: 2/3;
}

#mfsa-text-developer {
    grid-column: 3/4;
}

/*allagi*/
#mfsa-images {
    grid-column: 3/4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#mfsa-images > img {
    display: block;
    margin: 0.5em;
}

/*allagi*/
#mfsa-images > img:nth-child(1) {
    width: 200px;
    height: 120px;
    grid-row: 1/3;
    grid-column: 1/3;
    z-index: 3;
}

/*allagi*/
#mfsa-images > img:nth-child(2) {
    width: 220px;
    height: 140px;
    grid-row: 2/4;
    grid-column: 2/5;
    z-index: 2;
}

/*allagi*/
#mfsa-images > img:nth-child(3) {
    width: 220px;
    height: 120px;
    grid-row: 1/3;
    grid-column: 3/5;
}

#most-famous-subject-areas a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.25s;
}

#most-famous-subject-areas a:hover {
    color: red;
    text-decoration: none;
    border-bottom: 0.2em solid red;
}

#most-famous-subject-areas a:active {
    color: black;
    background-color: red;
    border-bottom: 0.2em solid red;
}

#most-famous-subject-areas a:visited {
    color: black;
}

section:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

#your-level {
    background-color: #ffdf52;
}

#your-level > h3:first-letter {
    font-size: 1.5em;
    color: red;
}

#your-level > img {
    float: left;
}

#our-vision {
    background-color: #ebdbc4;
}

#our-vision > img {
    float: right;
}

/*allagi*/
#announcements {
    display: flex;
    justify-content: space-between;
}

.announcement {
    width: 30%;
}

.announcement > h3 {
    margin-bottom: 0.5em;
}

.announcement > h3 + p {
    margin: 0em;
    border-left: 0.2em solid #215ef9;
    font-weight: 500;
}

/* aside */

aside {
    background-color: #e50122;
    grid-area: aside;
    text-align: center;
}

aside img {
    width: 100%;
    height: 100%;
}

.sticky {
    position: sticky;
    top: 0;
}

aside #special-xmas-offer {
    background-color: #fae8a2;
    font-size: 1.2em;
    font-weight: 700;
}

aside #special-xmas-offer span {
    display: block;
    font-size: 1.5em;
}

aside button {
    width: 50%;
    background-image: url(resources/xmas_button.png);
    padding: 0.8em;
    margin: 1em;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 6px;
    transition-duration: 0.5s;
}

aside button:hover {
    color: #e50122;
}

aside button:active {
    background-image: url(resources/xmas_button_active.png);
    background-position: center;
    background-size: cover;
    color: transparent;
}

/* footer */

/*allagi*/
footer {
    background-color: #dadbde;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    grid-area: footer;
    z-index: 2;
}

footer address ul {
    padding: 0em;
    list-style-type: none;
}

.social-media-footer ul {
    padding: 0em;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.social-media-footer img {
    border: 2px solid black;
    border-radius: 9.5px;
}

.social-media-footer li:nth-child(1) img:hover {
    background-color: #1d9bf0;
}

.social-media-footer li:nth-child(2) img:hover {
    background-color: #385898;
}

.social-media-footer li:nth-child(3) img:hover {
    background-color: #ff0000;
}

.social-media-footer li:nth-child(4) img:hover {
    background: radial-gradient(at top right,#456eca,#a534ad,#b1338b,#e15947,#f4b753);
}

footer  address a {
    color: black;
    text-decoration: none;
}

footer address li {
    display: block;
}

/*allagi*/
footer > p {
    clear: both;
    grid-column: 2/3;
}

/* subjects (3 files) */

main > h1 {
    color: #6277b6;
}

.main-subject > .subject:nth-child(2n) {
    background-color: #cbdaeb;
}

.subject h1 {
    background-color: #f2f0ef;
    margin-left: 0.3em;
    border-left: 0.5em solid #215ef9;
    font-size: 1.8em;
    position: sticky;
    top: 0;
}

/* allagi ex3 */
.subject .description {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
}

.subject .description img {
    grid-column: 1/2;
    grid-row: 1/4;
}

.subject .description p {
    font-size: 1.3em;
    grid-column: 3/8;
    grid-row: 2/3;
}

.subject section h2 {
    text-align: center;
}

.subject section table {
    margin: auto;
}

.subject .content p {
    text-align: center;
}

.subject .content table {
    width: 50%;
}

.subject:nth-child(2n) h1 {
    background-color: #cbdaeb;
}

.subject:nth-child(2n + 1) section > h2 {
    margin: 0em;
    background-color: #cfc4be;
}

.subject:nth-child(2n) section > h2 {
    margin: 0em;
    background-color: #63a2e0;
}

.subject img {
    float: left;
}

.subject table th {
    padding: 1.5em;
}

.subject table td {
    padding: 1em;
}

.subject .content table {
    border-spacing: 0;
    text-align: center;
}

.subject .content table th {
    background-color: #8c9ca4;
    color: white;
    font-weight: bold;
}

.subject:nth-child(2n + 1) .content table th {
    background-color: #f1b99b;
}

.subject:nth-child(2n) .content table th {
    background-color: #89bdf1;
}

.subject .content table td {
    background-color: #d9dadb;
}

.subject .content table tbody > tr:first-child > td {
    background-color: #b4b4bc;
    font-weight: 600;
}

.subject .links a {
    color: black;
}

/* allagi ex3 */
.subject .links ol {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.subject:nth-child(2n + 1) .links ol li {
    padding: 0.5em;
    background: linear-gradient(to right, #f1b99b, #f2f0ef);
}

.subject:nth-child(2n) .links ol li {
    padding: 0.5em;
    background: linear-gradient(to right, #89bdf1, #cbdaeb);
}

.subject .links ol li:nth-child(1){
    grid-row: 1/2;
    grid-column: 2/3;
}

.subject .links ol li:nth-child(2){
    grid-row: 2/3;
    grid-column: 4/5;
}

.subject .links a:hover {
    color: white;
    background-color: #858da8;
    text-decoration: none;
}

.subject .total-cost thead > tr > th:nth-child(2) {
    background-color: #b9161f;
    color: white;
}

.subject .total-cost thead > tr > th:nth-child(3) {
    background-color: #fbdb54;
}

.subject .total-cost tbody > tr > td:first-child {
    font-weight: bold;
}

.subject .total-cost tbody > tr > td + td {
    text-align: center;
}

.subject .total-cost s {
    padding: 0.5em;
    font-size: 1.5em;
    color: red;
}

.subject .choose-price h3 {
    padding-bottom: 1em;
}

.subject .choose-price input[type="radio"]{
    display: none;
}

.subject .choose-price label {
    border: 2px solid #858da8;
    color: #858da8;
    font-weight: 700;
    padding: 1em;
    border-radius: 4px;
    transition-duration: 0.5s;
}

.subject .choose-price label:hover {
    border: 2px solid black;
    color: black;
    
}

.subject .choose-price input[type="radio"]:focus + label {
    background-color: #7c7c99;
}

.subject .choose-price input[type="radio"]:checked + label {
    border: 2px solid #215ef9;
    background-color: #215ef9;
    color: white;
}

.subject .start-day {
    width: 200px;
    background-color: #dadbde;
    border: 3px solid #bac0ca;
    border-radius: 5px;
    margin: 0.5em;
    /* float: left; */
    text-align: center;
}

.subject .start-day h2 {
    padding: 0.2em;
}

.subject .start-day button {
    width: 80%;
    background-color: #b9161f;
    padding: 0.8em;
    margin: 1em;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    border: 2px solid #dadbde;
    border-radius: 6px;
    transition-duration: 0.5s;
}

.subject .start-day button:hover {
    background-color: #6e070c;
}

.subject .start-day button:active {
    border: 2px solid black;
    transition: 0s;
}

/*  */
.subject .enrollment > p {
    text-align: center;
}

.subject .enrollment > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subject .enrollment .subject-choices section {
    text-align: center;
}

.subject .enrollment .subject-choices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.subject .enrollment .choose-price {
    flex-wrap: nowrap;
}

.subject .enrollment .available-dates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* contact_form.html */

form {
    padding: 0.5em;
}

form label, form input[type="text"], form input[type="email"],
form select, form textarea {
    display: block;
    width: 100%;
    padding: 0.5em;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

form textarea {
    height: 200px;
}

form label {
    padding-left: 0em;
}

form input[type="submit"], form input[type="reset"] {
    padding: 0.8em;
    margin-top: 0.5em;
    width: 100%;
    border: 2px solid;
    border-radius: 4px;
    background-color: #215ef9;
    font-family: 'Manrope', sans-serif;
    color: white;
    transition-duration: 0.5s;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #04246c;
}

form input[type="submit"]:active, form input[type="reset"]:active {
    background-color: #8494b8;
    border: 2px solid black;
    color: black;
    transition-duration: 0s;
}

/* allagi ex3 */
form {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

form div h2 {
    text-align: center;
}

form .customer-inf-area {
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #7996fc;
}

form .customer-subject-area {
    padding: 2em;
    display: flex;
    flex-direction: column;
    background-color: #b5cbf7;
}

form .buttons-area {
    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    background-color: #bdd6ee;
}

form .customer-inf-content {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "firstname gap lastname"
                         "email email email"
                         "country country country";
}

.customer-inf-content .firstname-box {
    grid-area: firstname;
}

.customer-inf-content .lastname-box {
    grid-area: lastname;
}

.customer-inf-content .email-box {
    grid-area: email;
}

.customer-inf-content .country-box {
    grid-area: country;
}

/* subject_areas.html */

#education, #health, #law {
    background: rgba(44, 132, 219, 0.2)
} 

/*CHANGE*/
.field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.field span {
    font-weight: 100;
}

.field h2 {
    border-left: 0.3em solid #3365d1;
    font-size: 1.8em;
    margin-bottom: 0.3em;
    grid-area: 1/1/2/6;
}

.field > ul > li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.field > ul > li a:hover {
    color: white;
    background-color: #858da8;
    text-decoration: none;
}

.field > ul > li a:active {
    background-color: #858da8;
    border-bottom: 0.5em solid #858da8;
    transition: 0.15s;
}

.field > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0 auto;
    grid-area: 3/1/4/6;
    margin-bottom: 1em;
}

.field > ul > li {
    text-align: center;
    font-size: large;
    font-weight: bold;
    display: inline;
    margin: 40px;
    justify-self: space-around;
}

#education ul > li { /*etsi wste na xorane se mia grammi*/
    font-size: large;
    font-weight: bold;
    display: inline;
    margin: 30px;
}

#education ul li a, #health ul li a, #law ul li a, #education ul li, #health ul li, #law ul li {
    color: rgb(19, 16, 233);
}

#energy ul li a, #history ul li a, #IT ul li a, #energy ul li, #history ul li, #IT ul li {
    color: rgb(226, 134, 81);
}

#education p, #health p, #law p {
    margin: 2em;
    background: rgba(44, 132, 219, 0.3);
    border-style: solid;
    border-width: 4px 4px;
    border-color: white;
    border-radius: 25px;
    grid-area: 2/1/3/6;
}

#energy p, #history p, #IT p {
    margin: 2em;
    background: rgba(126, 93, 76, 0.3);
    border-style: solid;
    border-width: 4px 4px;
    border-color: white;
    border-radius: 25px;
    grid-area: 2/1/3/6;
}

/*CHANGE*/
.about_article {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}

.about_article h3 {
    grid-area: 1/1/2/2;
    margin: 1em;
}

.about_article img {
    grid-area: 2/1/4/2;
    margin: 2em;
}

.about_article p {
    grid-area: 2/2/4/4;
    margin: auto;
}

.about_us {
    background: rgba(44, 132, 219, 0.3);
}

.about_us h2 {
    color: white;
    font-size: 1.6em;
    background: rgba(44, 132, 219, 0.6);
    margin: 0em;
}

#start_about img{
    margin: 2em;
    float: right;
}

#start_about p{
    margin-top: 3.5em;
    font-weight: bold;
    font-size: large;
}

#end_about {
    margin-bottom: 5em;
}

#end_about p{
    max-width: 80em;
}    

#end_about article img{
    border-radius: 80%;
}

#end_about h3{
    font-weight: bold;
    font-size: large;
}

#first {
    margin-top: 1em;
}

