body {
    background-color: #ededed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav{
    background-color: #1899d9;
}

header p{
    font-size: 1.1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.announcement > h3 + p{
    background-color: aliceblue;
}