/* Αρχικοποίηση κάποιων μεταβλητών με τα βασικά χρώματα του site. */
:root {
    --menuColor: #94acfc;
    --blue: #215ef9;
    --menu_underline: #50666f;
}

/* Ορισμός κύριου χρώματος παρασκηνίου και γραμματοσειράς για λόγους εμφάνισης. Επιπρόσθετα ορίζεται και margin: 0em 
   έτσι ώστε να μην εμφανίζεται το περιθώριο στα αριστερά και δεξία της σελίδας (πετυχαίνουμε ουσιαστικά
   να "κολλάνε" όλα τα elements που βρίσκονται μέσα στο body στις άκρες του παραθύρου και να μην φαίνεται 
   το περιθώριο). */
body {
    background-color: #f2f0ef;
    font-family: sans-serif;
    margin: 0em;
}

/* Με τον μηδενισμό του margin πετυχαίνουμε την ομοιογένεια μεταξύ των διάφορων sections. Η αναίρεση του παρόντος κανόνα
   θα δημιουργούσε αισθητό πρόβλημα κυρίως στα πρώτα δύο elements, αφού θα εμφανιζόταν ένα κενό μεταξύ των sections που 
   αλλάζουν χρώμα. Επιπρόσθετα με το padding καταφέρνουμε να υπάρχει μία συνόχη στην στοίχιση των βασικών elements που
   χρησιμοποιούνται μέσα στα sections. */
h1, h2, p {
    margin: 0em;
    padding: 0.5em;
}

/* Στοίχιση εικόνων ώστε να μην "κολλάνε" πάνω στο παράθυρο του φυλλομετρητή. Για εξοικονόμηση κώδικα, εφόσον θέλουμε τον ίδιο
   κανόνα για δύο διαφορετικά elements, τα παραθέτουμε μαζί και τα χωρίζουμε με κόμμα(,). Επιπρόσθετα με τον τελεστή > ζητάμε την
   εφαρμογή του κανόνα στα elements img και h3 που βρίσκονται μέσα στο element section και στην κλάση .main-content αντίστοιχα 
   και είναι παιδιά τους.
   ---
   Για την αποφυγή επαναλήψεων στις παρακάτω περιγραφές, σε έναν κανόνα τύπου el1 > el2 ζητάμε την εφαρμογή του σε όλα τα el2 που βρίσκονται
   κάτω από το el1 και είναι παιδιά του. ΠΡΟΣΟΧΗ: Δεν εφαρμόζεται στους απογόνους, μόνο στα παιδιά του.
   ---
   Για την αποφυγή επαναλήψεων στις παρακάτω περιγραφές, η σύνταξη .class-name παραπέμπει στην εφαρμογή ενός κανόνα σε μία κλάση με το όνομα class-name.
   Ο κανόνας θα εφαρμοστεί σε όλα τα αντικείμενα που έχουμε ορίζει στο HTML αρχείο ως εξής: <el1 class="class-name"></el1>. */
section > img, .main-content > h3 {
    margin: 0.5em;
}

/* START-OF: header */

/* Χρήση μεταβλητής που έχει οριστεί στο :root και μέγεθος γραμματοσειράς. */
header {
    background-color: var(--blue);
    font-size: 1.1em;
}

/* START-OF: header>nav */

/* Χρήση μεταβλητών που έχουν οριστεί στο :root, ορισμός margin: 0em για αναίρεση προεπιλογής και για να μην υπάρχει κενό στο πάνω και κάτω 
   μέρος της λίστας (ομοιομορφία), χρήση padding της μορφής padding: top_bottom left_right, χρήση του border έτσι ώστε να γίνει πιο έντονο 
   και να έχει χρώμα --menuColor. Την τελευταία ιδιότητα την χρησιμοποιούμε για να πετύχουμε σε επόμενο κανόνα την εμφάνιση μίας μπάρας 
   όταν κάνουμε hover πάνω από αντικείμενα τύπου li. Επιπρόσθετα με τον τελεστή κενό ( ) ζητάμε την εφαρμογή του κανόνα στο element ul 
   που βρίσκεται κάτω από το element nav.
   ---
   Για την αποφυγή επαναλήψεων στις παρακάτω περιγραφές, σε έναν κανόνα τύπου el1 el2 ζητάμε την εφαρμογή του σε όλα τα el2 που βρίσκονται κάτω από το el1.
   Εφαρμόζεται ουσιαστικά σε όλους τους απογόνους, ανεξαρτήτως βάθους στο δέντρο. */
nav ul {
    margin: 0em;
    padding: 0.5em 0em;
    border: 0.5em solid var(--menuColor);
    background-color: var(--menuColor);
}

/* Ορισμός χρώματος γραμματοσειράς και αναίρεση προεπιλογής εμφάνισης υπογράμμισης κάτω από τα elements a. */
nav li > a {
    color: white;
    text-decoration: none;
}

/* Χρήση ιδιότητας display: inline για στοίχιση αντικειμένων στην ίδια σειρά το ένα δίπλα στο άλλο. Στην συγκεκριμένη
   περίπτωση επειδή η λίστα εμφανίζει τα αντικείμενα της το ένα κάτω από το άλλο, με την χρήση της ιδιότητας που προαναφέραμε
   αναιρούμε την συγκεκριμένη στοίχιση. */
nav li {
    color: white;
    display: inline;
    padding: 0.5em;
}

/* Στόχος των παρακάτω δύο εντολών είναι η δημιουργία ενός menu όπου να γίνεται αισθητό όταν ο χρήστης μετακινεί τον κένσορα
   πάνω σε αντικείμενα που ενδιαφέρεται (1ος κανόνας), καθώς και όταν επιλέγει ένα από αυτά (2ος κανόνας).
   ---
   Χρήση ψευδο-κλάσεων :hover, :not(), :nth-child() :
   el:hover : χρησιμοποιείται έτσι ώστε όταν μετακινώ τον κένσορα πάνω από το αντικείμενο el να ενεργοποιείται ο κανόνας.
   el:not() : ενεργοποίηση κανόνα στο αντικείμενο el σε όλες τις περιπτώσεις ΕΚΤΟΣ από αυτήν που αναφέρεται στις παρενθέσεις.
              Στην συγκεκριμένη περίπτωση επειδή χρησιμοποιούμε ένα dropdown menu, για λόγους εμφάνισης θέλουμε όταν κάνουμε
              hover πάνω σε έναν συγκεκριμένο αντικείμενο να μην εμφανίζεται διαφορετικό χρώμα.
   el:nth-child() : επιλογή συγκεκριμένου παιδιού. Στην παρούσα κατάσταση θέλουμε να επιλέξουμε το δεύτερο παιδί element li που
                    βρίσκεται κάτω από το το element ul.
   ΣΥΝΟΛΙΚΑ ο κανόνας πετυχαίνει την εφαρμογή κάποιων ιδιοτήτων σε αντικείμενα li ΕΚΤΟΣ του li που εμφανίζεται κατά σειρά δεύτερο
   μέσα στην λίστα element ul, όταν μετακινούμε τον κένσορα πάνω σε αυτά. */
nav li:not(nav ul > li:nth-child(2)):hover {
    border-bottom: 0.5em solid var(--menu_underline);
    transition: 0.5s;
}

/* Χρήση ψευδό-κλάσης :active, όπου ενεργοποιεί τον παρακάτω κανόνα όταν πατάμε (κάνουμε click) πάνω σε ένα αντικείμενο li. */
nav li:active {
    background-color: var(--menu_underline);
    border-top: 0.5em solid var(--menu_underline);
    border-bottom: 0.5em solid var(--menu_underline);
    transition: 0.15s;
}

/* dropdown menu*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-top: 1em;
    display: none;
    position: absolute;
    background-color: #94acfc;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    border-left: 0.5em solid #94acfc;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-left: 0.5em solid var(--menu_underline);
    transition: 0.5s;
}

.dropdown-content a:active {
    color: white;
    background-color: var(--menu_underline);
    transition: 0.15s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    color: white;
    text-align: center;
    padding-bottom: 18px;
    text-decoration: none;
}

/* END-OF: header>nav */
/* END-OF: header */

/* Ο αστερίσκος (*) ορίζει την εφαρμογή του κανόνα σε όλα τα αντικείμενα που είναι παιδιά του element section. Η ιδιότητα margin-left 
   ορίζει ένα margin μόνο στο αριστερό μέρος στα elements που εφαρμόζεται. Το τελευταίο το κάνουμε προκειμένου να μην "κολλάνε" τα 
   elements στην αριστερή πλευρά του παραθύρου. */
section > * {
    margin-left: 0.5em;
}

/* START-OF: index.html */

/* Ορισμός χρώματος γραμματοσειράς σε όλα τα h2 που είναι παιδία της κλάσης .main-content. */
.main-content > h2 {
    color: #6277b6;
}

/* Ορισμός χρώματος παρασκηνίου στο αντικείμενο με ID world-connection.
   ---
   Για την αποφυγή επαναλήψεων στις παρακάτω περιγραφές, η σύνταξη #id-name παραπέμπει στην εφαρμογή ενός κανόνα σε αντικείμενα με ID id name.
   Ο κανόνας θα εφαρμοστεί σε όλα τα αντικείμενα που έχουμε ορίσει στο HTML αρχείο ως εξής: <el1 id="id-name"></el1>. */
#world-connection {
    background-color: #d5ebf2;
}

/* Ορισμός της ιδιότητας float σε εικόνα που είναι παιδί του αντικειμένου με ID world-connection. Με την ιδιότητα float η εικόνα στοιχίζεται στα
αριστερά και το κείμενο "ρέει" στα δεξιά της. */
#world-connection > img {
    float: left;
}

/* Ορισμός χρώματος παρασκηνίου στο αντικείμενο με ID most-famous-subject-areas. */
#most-famous-subject-areas {
    background-color: #67b4da;
}

/* Ορισμός μήκους του element p που βρίσκεται κάτω από το αντικείμενο με ID most-famous-subject-areas. Με το
   ποσοστό της % καθορίζουμε πόσο της % θέλουμε να καλύπτει την οθόνη. */
#most-famous-subject-areas > p {
    width: 60%;
}

/* Ορισμός της ιδιότητας float στο αντικείμενο με ID group-images. */
#group-images {
    float: right;
}

/* Ορισμός της ιδιότητας margin στις εικόνες που είναι παιδιά του αντικειμένου με ID group-images. */
#group-images > img {
    /* display: block; */
    margin: 0.5em;
}

/* Παρακάτω παραθέτονται τρεις κανόνες για την δημιουργία ενός κολλάζ αποτελούμενο από τρεις εικόνες.
   ---
   Ορισμός ιδιοτήτων σε εικόνες που είναι παιδιά του αντικειμένου με ID group-images. Εφαρμογή κανόνα στην πρώτη εικόνα (πρώτο παιδί) με ιδιότητες
   width και height για τις διαστάσεις της εικόνας σε μονάδα px. 
   Ορισμός ιδιότητας position: absolute η οποία αποδεσμεύει τον χώρο που είχε η εικόνα στο συγκεκριμένο χωρίο και την αφήνει στην κορυφή της σελίδας. Με 
   την χρήση των ιδιοτήτων top και right σε μονάδες px ορίζουμε την σελίδα στο σημείο που την θέλουμε.
   Ορισμός ιδιότητας z-index με αριθμό τέτοιον ώστε να είναι ο μεγαλύτερος και να εμφανίζεται πάνω από όλες τις άλλες εικόνες. */
#group-images > img:nth-child(1) {
    width: 200px;
    height: 150px;
    position: absolute;
    top: 730px;
    right: 250px;
    z-index: 3;
}

/* Ορισμός ιδιοτήτων παρόμοιων με παραπάνω με μόνη διαφορά τον ορισμό ιδιότητας position: absolute η οποία μας δίνει την δυνατότητα να μετακινήσουμε την εικόνα
   από την θέση που είναι προς όλες τις κατευθύνσεις (στην συγκεκριμένη περίπτωση δεξιά). */
#group-images > img:nth-child(2) {
    width: 250px;
    height: 200px;
    position: relative;
    right: 20px;
    z-index: 2;
}

/* Ορισμός ιδιοτήτων παρόμοιων με των παραπάνω. */
#group-images > img:nth-child(3) {
    width: 280px;
    height: 180px;
    position: absolute;
    top: 900px;
    right: 200px;
}

/* Ορισμός χρώματος γραμματοσειράς, τόνωσης γραμματοσειράς (ιδιότητα font-weight για light, bold etc) και χρήση transition-duration για την εμφάνιση μικρού εφέ, το
   οποίο για τα δευτερόλεπτα που έχουμε ορίσει καθυστερή να μεταβεί σε άλλη κατάσταση που όρίζεται σε επόμενη φάση με χρήση ψευδό-κλάσεων. */
#most-famous-subject-areas a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.25s;
}

/* Παρακάτω παρατίθονται τρεις κανόνες για την περίπτωση που ο χρήστης πατήσει κάποιον σύνδεσμο στο section Δημοφιλέστερες ενότητες.
   ---
   Ορισμός ιδιοτήτων παρόμοιων με άλλων που έχουν περιγραφεί παραπάνω. */
#most-famous-subject-areas a:hover {
    color: red;
    text-decoration: none;
    border-bottom: 0.2em solid red;
}

/* Ορισμός ιδιοτήτων παρόμοιων με άλλων που έχουν περιγραφεί παραπάνω. */
#most-famous-subject-areas a:active {
    color: black;
    background-color: red;
    border-bottom: 0.2em solid red;
}

/* Χρήση ψευδό-κλάσης :visited όπου θυμάται αν έχουμε επισκεφτεί μία σελίδα και στην συγκεκριμένη περίπτωση εφαρμόζει τον κανόνα. */
#most-famous-subject-areas a:visited {
    color: black;
}

/* Χρήση ψευδό-κλάσης :after όπου εφαρμόζει κανόνες μετά από κάθε element που το ορίζει. Λόγω του ότι οι εικόνες σε πολλά sections "φεύγαν" από την θέση τους
   και εμφανίζονταν και στο αμέσως επόμενο section (πιθανότατα εξαιτίας του προκαθορισμένου μεγέθους τους σε px), ορίσαμε τον παρόν κανόνα για να το αποφύγουμε.
   Αυτό που κάνει είναι να χρησιμοποιεί τις ιδιότητες:
   content: για να ορίσει ένα περιεχόμενο.
   visibility: για να κρύψει το περιεχόμενο.
   display: block: για να εμφανίζεται το περιεχόμενο ακριβώς κάτω από όλα τα αντικείμενα.
   clear: both: για να εμφανίζεται το περιεχόμενο σε νέα γραμμή χωρίς τυχόν αντικείμενα με ιδιότητες float στα αριστερά και δεξιά του. */
section:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}

/* Ορισμός ιδιοτήτων παρόμοιων με άλλων που έχουν περιγραφεί παραπάνω. */
#your-level {
    background-color: #ffdf52;
}

/* Ορισμός ιδιοτήτων παρόμοιων με άλλων που έχουν περιγραφεί παραπάνω. Χρήση ψευδό-κλάσης :first-letter που βρίσκει το πρώτο γράμμα στο αντικείμενο που την χρησιμοποιεί
   και εφαρμόζει σε αυτό τους κανόνες. */
#your-level > h3:first-letter {
    font-size: 1.5em;
    color: red;
}

/* Ορισμός ιδιοτήτων παρόμοιων με άλλων που έχουν περιγραφεί παραπάνω.
   ---
   Από εδώ και στο εξής θα παραθέτονται σχόλια σε κανόνες με καινούριες ιδιότητες ή σε κανόνες που η χρήση τους δεν είναι αυτονόητη.  */
#your-level > img {
    float: left;
}

#our-vision {
    background-color: #ebdbc4;
}

#our-vision > img {
    float: right;
}

.announcement {
    width: 300px;
    float: left;
}

.announcement > h3 {
    margin-bottom: 0.5em;
}

.announcement > h3 + p {
    margin: 0em;
    border-left: 0.2em solid #215ef9;
    font-weight: 500;
}

/* END-OF: index.html */
/* START-OF: aside */

aside {
    background-color: #e50122;
    text-align: center;
}

aside img {
    display: block;
    margin: auto;
}

aside p:nth-child(3) {
    background-color: #fae8a2;
    font-size: 1.2em;
    font-weight: 700;
}

aside span {
    display: block;
    font-size: 1.5em;
}

/* Χρήση του background-image για να βάλουμε στο κουμπί να έχει μία φωτογραφία
   αντί για χρώμα. */
aside button {
    display: block;
    width: 50%;
    background-image: url(resources/xmas_button.png);
    padding: 0.8em;
    margin: auto;
    font-family: sans-serif;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 6px;
    transition-duration: 0.5s;
}

aside button:hover {
    color: #e50122;
}

aside button:active {
    background-image: url(resources/xmas_button_active.png);
    background-position: center;
    background-size: cover;
    color: transparent;
}

/* END-OF: aside */
/* START-OF: footer */

footer {
    background-color: #dadbde;
}

footer > img, footer address ,footer .social-media-footer {
    float: left;
}

/* Χρήση ιδιότητας border-radius για να δώσει μία καμπυλότητα στο περίγραμμα. */
.social-media-footer img {
    border: 2px solid black;
    border-radius: 9.5px;
}

/* Οι τέσσερις παρακάτω κανόνες προορίζονται στην περίπτωση που ο χρήστης μετακινεί τον κένσορα πάνω από μία εικόνα των social medias. */
.social-media-footer li:nth-child(1) img:hover {
    background-color: #1d9bf0;
}

.social-media-footer li:nth-child(2) img:hover {
    background-color: #385898;
}

.social-media-footer li:nth-child(3) img:hover {
    background-color: #ff0000;
}

/* Χρήση συνάρτησης radial-gradient() για εφαρμογή διάφορων χρωμάτων που ξεκινάνε με το πρώτο από πάνω δεξιά και καταλήγουν προς τα κάτω
   με πλάγια κατεύθυνση. Ο συγκεκριμένος κανόνας χρησιμοποιείται για την προσομοίωση του λογότυπου Instagram. */
.social-media-footer li:nth-child(4) img:hover {
    background: radial-gradient(at top right,#456eca,#a534ad,#b1338b,#e15947,#f4b753);
}

footer  address a {
    color: black;
    text-decoration: none;
}

footer address li {
    display: block;
}

footer div li {
    display: inline;
}

footer > p {
    clear: both;
}

/* END-OF: footer */
/* START-OF: college_preparation.html, computer_programming.html, anatomy.html */

main > h1 {
    color: #6277b6;
}

.main-subject > .subject:nth-child(2n) {
    background-color: #cbdaeb;
}

.subject h1 {
    background-color: #f2f0ef;
    margin-left: 0.3em;
    border-left: 0.5em solid #215ef9;
    font-size: 1.8em;
    position: sticky;
    top: 0;
}

.subject .description p {
    font-size: 1.3em;
}

.subject section h2 {
    text-align: center;
}

/* Χρήση κανόνα για την τοποθέτηση του πίνακα στην μέση. Η ιδιότητα margin: auto φροντίζει να ισαπέχουν οι άκρες από το παράθυρο του φυλλομετρητή. */
.subject section table {
    margin: auto;
}

/* Χρήση ιδιότητας text-align: ceneter για την τοποθέτηση του κειμένου στην μέση. */
.subject .content p {
    text-align: center;
}

/* Χρήση κανόνα για επίτευξη ομοιομορφίας μεταξύ όλων των πινάκων περιεχομένων. */
.subject .content table {
    width: 50%;
}

/* Στο εξής όπου χρησιμοποιούμε την ψευδό-κλάση :nth-child() με ορίσματα 2n και 2n+1, θέλουμε να δημιουργήσουμε ένα μοτίβο, έτσι ώστε τα μαθήματα
   να μεφανίζονται με δύο διαφορετικά χρώματα εναλλάξ.
   ---
   Η ψευδό-κλάση :nth-child() χρησιμοποιείται με όρισμα 2n και 2n+1 παρακάτω για να καθορίσει ένα συγκεκριμένο μοτίβο ενεργοποίησης του κανόνα.
   Συγκεκριμένα θέλουμε την ενεργοποίηση του κανόνα εναλλάξ. Έτσι ξεκινώντας από το πρώτο παιδί με n=0 καταφέρνουμε να διαχωρίσουμε τα παιδιά σε μονά και
   ζυγά. */
.subject:nth-child(2n) h1 {
    background-color: #cbdaeb;
}

.subject:nth-child(2n + 1) section > h2 {
    background-color: #cfc4be;
}

.subject:nth-child(2n) section > h2 {
    background-color: #63a2e0;
}

.subject img {
    float: left;
}

.subject table th {
    padding: 1.5em;
}

.subject table td {
    padding: 1em;
}

.subject .content table {
    border-spacing: 0;
    text-align: center;
}

.subject .content table th {
    background-color: #8c9ca4;
    color: white;
    font-weight: bold;
}

.subject:nth-child(2n + 1) .content table th {
    background-color: #f1b99b;
}

.subject:nth-child(2n) .content table th {
    background-color: #89bdf1;
}

.subject .content table td {
    background-color: #d9dadb;
}

.subject .content table tbody > tr:first-child > td {
    background-color: #b4b4bc;
    font-weight: 600;
}

.subject .links a {
    color: black;
}

.subject:nth-child(2n + 1) .links ol li {
    padding: 0.5em;
    background: linear-gradient(to right, #f1b99b, #f2f0ef);
}

.subject:nth-child(2n) .links ol li {
    padding: 0.5em;
    background: linear-gradient(to right, #89bdf1, #cbdaeb);
}

.subject .links a:hover {
    color: white;
    background-color: #858da8;
    text-decoration: none;
}

.subject .total-cost thead > tr > th:nth-child(2) {
    background-color: #b9161f;
    color: white;
}

.subject .total-cost thead > tr > th:nth-child(3) {
    background-color: #fbdb54;
}

.subject .total-cost tbody > tr > td:first-child {
    font-weight: bold;
}

/* Χρήση κανόνα που ενεργοποιείται σε όλα τα παιδιά td του tr εκτός του πρώτου.
   ---
   Για την αποφυγή επαναλήψεων στις παρακάτω περιγραφές, σε έναν κανόνα τύπου el1 + el2 ζητάμε την εφαρμογή του σε όλα τα el2 που είναι αδέλφια
   με το el1. */
.subject .total-cost tbody > tr > td + td {
    text-align: center;
}

.subject .total-cost s {
    padding: 0.5em;
    font-size: 1.5em;
    color: red;
}

.subject .choose-price h3 {
    padding-bottom: 1em;
}

/* Χρήση της ιδιότητας display: none για να αφανήσουμε τα κυκλικά κουμπιά επιλογής. */
.subject .choose-price input[type="radio"]{
    display: none;
}

.subject .choose-price label {
    border: 2px solid #858da8;
    color: #858da8;
    font-weight: 700;
    padding: 1em;
    border-radius: 4px;
    transition-duration: 0.5s;
}

.subject .choose-price label:hover {
    border: 2px solid black;
    color: black;
    
}

.subject .choose-price input[type="radio"]:focus + label {
    background-color: #7c7c99;
}

.subject .choose-price input[type="radio"]:checked + label {
    border: 2px solid #215ef9;
    background-color: #215ef9;
    color: white;
}

.subject .start-day {
    width: 200px;
    background-color: #dadbde;
    border: 3px solid #bac0ca;
    border-radius: 5px;
    margin: 0.5em;
    float: left;
}

.subject .start-day h2 {
    padding: 0.2em;
}

.subject .start-day button {
    width: 80%;
    background-color: #b9161f;
    padding: 0.8em;
    margin: 1em;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    border: 2px solid #dadbde;
    border-radius: 6px;
    transition-duration: 0.5s;
}

.subject .start-day button:hover {
    background-color: #6e070c;
}

.subject .start-day button:active {
    border: 2px solid black;
    transition: 0s;
}

/* END-OF: college_preparation.html, computer_programming.html, anatomy.html */
/* START-OF: contact_form.html */

form {
    padding: 0.5em;
}

/* Ορισμός display:block για να είναι το ένα κάτω από το άλλο. Επίσης ορίζουμε και font-family
   προκειμένου οι περιγραφές placeholder στα εωτερικά των κουτιών να έχουν την γραμματοσειρά της
   επιλογής μας. */
form label, form input[type="text"], form input[type="email"],
form select, form textarea {
    display: block;
    width: 99%;
    padding: 0.5em;
    font-family: sans-serif;
}

form label {
    padding-left: 0em;
}

/* Ορίζουμε την ιδιότητα transition-duration για ομαλή μετάβαση από την κανονική κατάσταση
   στην κατάσταση hover και μετέπειτα στην active. */
form input[type="submit"], form input[type="reset"] {
    padding: 0.8em;
    margin-top: 0.5em;
    border: 2px solid;
    border-radius: 4px;
    background-color: #215ef9;
    font-family: sans-serif;
    color: white;
    transition-duration: 0.5s;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #04246c;
}

form input[type="submit"]:active, form input[type="reset"]:active {
    background-color: #8494b8;
    border: 2px solid black;
    color: black;
    transition-duration: 0s;
}

/* END-OF: contact_form.html */
/* START-OF: subject_areas.html */

#education, #health, #law {
    background: rgba(44, 132, 219, 0.2)
} 

.field h2 {
    border-left: 0.3em solid #3365d1;
    font-size: 1.8em;
    margin-bottom: 0.3em;
}

.field > ul > li a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.field > ul > li a:hover {
    color: white;
    background-color: #858da8;
    text-decoration: none;
}

.field > ul > li a:active {
    background-color: #858da8;
    border-bottom: 0.5em solid #858da8;
    transition: 0.15s;
}

.field > ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: left;
}

.field > ul > li {
    font-size: large;
    font-weight: bold;
    display: inline;
    margin: 40px;
}

#education ul > li { /*etsi wste na xorane se mia grammi*/
    font-size: large;
    font-weight: bold;
    display: inline;
    margin: 30px;
}

.field{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/*Χρωματισμός υπερσυνδέσμων*/
#education ul li a, #health ul li a, #law ul li a, #education ul li, #health ul li, #law ul li {
    color: rgb(19, 16, 233);
}

/*Χρωματισμός υπερσυνδέσμων*/
#energy ul li a, #history ul li a, #IT ul li a, #energy ul li, #history ul li, #IT ul li {
    color: rgb(226, 134, 81);
}

/*Εφαρμογή περιθωρίου, επιλογή χρώματος παρασκηνίου για τις παραγράφους, περιθώριο παραγράφων solid,
 πάχος & χρώμα περιθωρίου παραγράφων, στρογγύλευση γωνιών περιθωρίου παραγράφων */
#education p, #health p, #law p {
    margin: 2em 10em 2em 1em;
    background: rgba(44, 132, 219, 0.3);
    border-style: solid;
    border-width: 4px 4px;
    border-color: white;
    border-radius: 25px;
}

/*Εφαρμογή περιθωρίου, επιλογή χρώματος παρασκηνίου για τις παραγράφους, περιθώριο παραγράφων solid,
 πάχος & χρώμα περιθωρίου παραγράφων, στρογγύλευση γωνιών περιθωρίου παραγράφων */
#energy p, #history p, #IT p {
    margin: 2em 10em 2em 1em;
    background: rgba(126, 93, 76, 0.3);
    border-style: solid;
    border-width: 4px 4px;
    border-color: white;
    border-radius: 25px;
}

/* END-OF: subject_areas.html */
/* START-OF: about_us.html */

.about_us {
    background: rgba(44, 132, 219, 0.3);
}

.about_us h2 {
    color: white;
    font-size: 1.6em;
    background: rgba(44, 132, 219, 0.6);
    margin: 0em;
}

#start_about img{
    float: right;
    margin-right: 10em;
}

#start_about p{
    margin-top: 3.5em;
    font-weight: bold;
    font-size: large;
}

#end_about {
    margin-bottom: 5em;
}

#end_about p{
    position:relative;
    top: 4em;
    max-width: 80em;
}    

#end_about img{
    margin: 2em;
}

#end_about article img{
    border-radius: 80%;
    float: left;
}

#end_about h3{
    font-weight: bold;
    font-size: large;
    position: relative;
    left: 1.5em;
}

#first {
    margin-top: 5em;
}

#first p {
    margin-bottom: 6em;
}

#second {
    margin-top: 3em;
}

#second p{
    margin-bottom: 8em;
}

#second h3 {
    clear: left;
}

/* END-OF: about_us.html */